@page
@using Microsoft.AspNetCore.Mvc.Localization

@model IndexModel

@inject IViewLocalizer L

@{
    //ViewData["Title"] = "Главная страница";
    ViewData["Title"] = @L["MainPageName"];
}

<div class="text-center">
    <h1 class="display-4">@L["Welcome"]</h1>
    <p>@L["Text1"] <a href="https://learn.microsoft.com/aspnet/core">@L["Text2"]</a>.</p>
</div>
<h2>@Model.Message</h2>
